# Dependencies
node_modules

# Next.js build
.next
out

# macOS system file
.DS_Store

# Environment files
.env*
.env.local

# Firebase / service account keys
keys/*.json

# Debug logs
database-debug.log
